.Body {
    width: 700px;
    height: 900px;
    margin: 70px auto;
    display:flex;
    flex-direction: column;
}

.Top {
    background-color: antiquewhite;
    background-clip: content-box;
    padding: 5px 5px;

    display:grid;
    grid-template-columns: 525px 175px;
}

.Top > h1 {
    font-size: 24px;
}

.edu {
    border: dotted lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    margin: 5px;
}

.prof {
    border: dotted lightgoldenrodyellow;
    background-color: lightblue;
    margin: 5px;
}

.tech {
    border: dotted lightgoldenrodyellow;
    background-color: lightgrey;
    margin: 5px;
}

.Bottom h1 {
    background-color: antiquewhite;
    border-bottom: solid;
}

h2 {
    background-color: aquamarine;
}

.prof > ul {
    font-size: 13px;
}