.Body {
    width: 700px;
    height: 900px;
    margin: 70px auto;
    display:flex;
    flex-direction: column;
}

.Top {
    background-color: antiquewhite;
    padding: 10px 10px;
}

.Top > h1 {
    font-size: 24px;
}

.edu {
    border: dotted lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    margin: 5px;
}

.prof {
    border: dotted lightgoldenrodyellow;
    background-color: lightblue;
    margin: 5px;
}

.tech {
    border: dotted lightgoldenrodyellow;
    background-color: lightgrey;
    margin: 5px;
}

h1 {
    background-color: antiquewhite;
}

h2 {
    background-color: aquamarine;
}

.prof > ul {
    font-size: 13px;
}